<template>
  <div id="app">
    <img alt="Savana" src="./assets/logo.png" />
    <HelloWorld :msg="'Hello World!'" />
  </div>
</template>

<script>
import HelloWorld from "@/components/HelloWorld/HelloWorld.vue";

export default {
  name: "App",

  components: {
    HelloWorld
  }
};
</script>

<style src="@/assets/style/main.scss" lang="scss" />
